html, body {
	z-index: -100;
	position: relative;
	background-color: #375F85;
	margin: 0 0 10px 0;
	font-family: "helvetica neue", "helvetica", sans-serif;
}

a {
	color: #C9D7E6;
	text-decoration: none;
}

.clear {
	both: clear;
}

.header {
	z-index: 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #abc;
	padding: 20px 0 20px 0;
	max-height: 70px;
	text-align: right;
	border-bottom: solid 5px #C9D7E6;
	box-shadow: 0 0 4px 0px #000;
}
  .header .nav {
    float: right;
    font-size: 1em;
    padding: .5em 0;
    margin: 0 20px 0 0;
  }
    .header .nav a {
	  padding: .5em;
	  text-shadow: 0 1px 0 #666;
    }
    .header .nav a:hover {
      color: #375F85;
	  text-shadow: 0 1px 0 #fff;
    }
  .header a#logo {
	font-weight: 900;
	margin: 0 0 0 20px;
    font-size: 2em;
    float: left;
    text-decoration: none;
    color: #375F85;
    text-shadow: 0px 1px 0px #fff;
  }
    .header a#logo:hover {
	  color: #D0DBE6;
	  text-shadow: 0px 1px 0px #000;
    }

.container {
	color: #fff;
	z-index: -1;
	position: relative;
	margin: 100px auto 0 auto;
	width: 50%;
}
  h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
  }
  p {
	font-weight: 100;
	line-height: 175%;
	letter-spacing: 1;
  }
    p#sms {
	  margin: 20px;
	  font-weight: 600;
	  color: #375F85;
	  border: solid 4px #C9D7E6;
	  background-color: #aabbcc;
	  padding: 10px;
	  text-shadow: 0 1px 0 #fff;
	  border-radius: 5px;
    }
  img {
	float: right;
	padding: 5px 0 5px 5px;
	margin: 0 -60px 0 0;
  }

.footer {
	color: #999;
	margin: 100px auto 0 auto;
	width: 50%;
	text-align: center;
}