<h1>About Faxzorz!</h1>

<p> Well, you may be wondering how this super rad service came to be. Here's the background story: once upon a time I used to be
	an intern at a company in Boulder, Colorado. At this company (which will probably remain nameless) I was kind of bored. Mainly
	because the project that MY project depended upon had stalled and so I had a few days to kill before my internship ended. After
	spending a ridiculous amount of time on techblogs, I tired of reading and began my journey down the road of being super bored.
	When I'm bored I usually get delusional and really stupid ideas start sounding really fun.</p>

<p> One afternoon
	I was thinking: "what is it that white people with too much of their parents money in hand and a copious amount of free time really
	like doing more than anything else? (aka: hipsters)". The answer: live in the city, wear skinny jeans, ride a fixie everywhere they
	go, listen to obscure music, drink PBR, and they love all things considered retro. 
	Perfect, well then I should bring back a retro form of technology and make it cool again. Thats when Faxzorz was born. I then
	dedicated every waking hour of the following 3 hours to get a proof of concept working. Ever since, I've been devoting a couple hours
	a week here and there getting the site looking mega-deece (really cool). Now its fully functional and ready for your enjoyment.</p>

<p>If you've given the Faxzorz app a shot, you'll notice that it was probably one of the most pleasurable experiences you have had 
	in the last 3 decades. That is probably because it feels great to once again to create messages that actually sends a tangible 
	deliverable. But it's also been a great experience because it was so simple. Thats because I believe that products shouldn't be cluttered
	with massive feature sets or artsy user interfaces that detract from usability. If you like the product and are interested in seeing 
	what else I (Chad McKenna) has to offer in terms of software or you just need a kick ass freelance web developer to hire (parden my 
	french), check me out @ http://chadmckenna.wordpress.com. Or you could head over to the <%= link_to 'Contact', home_path('contact') %>
	page.</p>