<h1>Contact Us!</h1>

<p>If you have any questions are if you would like to contact me (the developer), you can send an email to chad.mckenna@gmail.com
	and include your question and/or comments. If you would like to learn more about me as a person, you can check out the link at
	the bottom of the page (entitled: "A Chad Mattison McKenna Production") or you can visit me on facebook at 
	http://www.facebook.com/chadmattisonmckenna and add me as a friend. </p.