<h1>Welcome, Hipsters!</h1>

<p>Welcome to Faxzorz, the most retro and ironic place on the intertubez. Faxzorz is a free web service that 
	blends the best technology of 1982 and 2011, tele-fax machines and sms text message. Faxzorz
	lets you send faxes to your friends via a simple SMS text message. </p>
	
<img src="images/sms2fax.png" style="float: right;">
	
<p>Faxzorz aims to revolutionize the cloud based mobile to land-line industry. Our system relies entirely on the magical
	power of the cloud. How neat is that? You may be thinking: "Wow! Super cool!". And we think you're right. Because, LBH
	(lets be honest), of course Faxzorz is cool. It's awesome as shit.</p>
	
<p>So how does it work? Simple. You send a text to +1-xxx-xxx-xxxx that contains the 11 digit fax number of
	the recipient as well as the 140 character message that you want to send. For this to work correctly, make
	sure that you place the recipients fax number in parenthesis "( )" with the number enclosed inside. Also,
	it is best if the recipient's fax number is the first thing in the text. for example:</p>
	
<p id="sms">
	(+13035551234) Hey bro, I'm just checking out Faxzorz, its way rad and super hip. Its so retro! Check it out!</p>
	
<p>Pretty neat, huh? Well, what are you waiting for? Get after it!</p>

<p>PS - Since there is some cost with actually running this service (on my end) I'm only going to be limiting each 
	user to 5 sms2fax messages. AKA, you'll only be able to send up to 5 messages to someones fax machine using your
	mobile phone number.</p>